body{
    margin-top: 0;   
    font-family: 'Poppins', sans-serif;
}
.common-text-color{
    color: #534c64;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
.site-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-text-color{
    color: #3e3751;
    text-decoration: none;
}
.top-menu-padding{
    padding-right: 20px;
}
.top-social-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e7e6e9;
    border-radius: 5px;
    padding: 0px 20px;
}
.fa-youtube{
    color: #f61c0d;
    padding-left: 20px;
    font-size: 25px;
}
.fa-tiktok{
    background:linear-gradient(45deg,#EE1D52,#000000);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-left: 20px;
    font-size: 25px;
}
.promotion-area{
    background-color: #fbf6fd;
}
.promotion-body{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.top-link{
    cursor: pointer;
}
.promotion-text{
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.promotion-text>h1{
    font-size: 48px;
    line-height: 0px;
}
.promotion-text>h2{
    font-size: 100px;
    line-height: 75px;
    background: -webkit-linear-gradient(#db4cc3,#a354e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.promotion-text>p{
    font-size: 18px;
    font-weight: bold;
    color: #534c64;
}
.button-area{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.gorouge-btn{
    background-color: #4ec5f7;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    padding: 20px 35px;
}
.signin-btn{
    background-color: #ff42a5;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 35px;
    color: #ffffff;
}
.promotion-image>img{
    margin-bottom:-5px;
    height: auto;
}
.games-example-heading{
    text-align: center;
    font-size: 48px;
}
.games-example-sub-heading{
    text-align: center;
    font-size: 20px;
}
.games-heading-gradiant{
    background: -webkit-linear-gradient(#db4cc3, #a354e1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.games-card-main{
    margin: 0 auto;
    padding-top: 30px;
    max-width: 1440px;
}
.games-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card-content{
    width: 100%;
    position: relative;
    max-width: 300px;
}
.card-body{
    position: relative;
}
.card-image{
    width: 100%;
    height: auto;
    display: block;
}
.overlay{
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ff42a436;
    display: flex;
    border: 3px solid #ff42a5;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0;
    transition:opacity 0.5s ease;
    flex-direction: column;
    justify-content: center;
    left: 0;
}
.overlay-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-content:hover .overlay{
    opacity: 1;
    cursor: pointer;
}
.overlay-elements{
    font-weight: 600;
    color:#ffffff;
}
.fa-play-circle{
    font-size: 30px;
    color:#ffffff;
}
.card-heading{
    max-width: 300px;
}
.install-area{
    padding-top: 50px;
}
.install-body{
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}
.install-text{
    text-align: center;
    margin-right: 20px;
}
.install-text>h1{
    font-size: 48px;
}
.install-heading{
    color: #ff42a5;
}
.promotion-image{
    text-align: center;
    width: 95%;
}
.games{
    background-color: #fff9fc;
    padding-bottom: 50px;
    padding-top: 50px;
}
.games-main{
    display: grid;
    margin: 0 auto;
    max-width: 1440px;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 40px;
}
.games-icon{
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 75px;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}
.games-name-with-icon{
    padding-left: 20px;
}
.games-icons:hover{
    border-color: #ff42a5;
    transition: 0.5s;
    color: #ff42a5;
}
.games-icons>img{
    width: auto;
}
.games-icons>h4{
    font-size: 16px;
}
